{% load static %}
{% load tz_detect %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href={% static favicon %} >
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <script src="{% static 'fontawesome/js/all.js' %}"
              crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?display=swap&family=Lora:400,700,..."
              rel="stylesheet"
              type="text/css">
    <link href="https://fonts.googleapis.com/css?display=swap&family=Open+Sans:300..."
              rel="stylesheet"
              type="text/css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/mystyles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand"
          href={% url 'blog:index' %}>{{ site_title }}</a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse"
              id="navbarResponsive">
          <ul class="navbar-nav ms-auto py-4 py-lg-0">
            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4"
                  href="{% url 'blog:index' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'blog:post' %}"
                class="nav-link px-lg-3 py-3 py-lg-4">Post</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'account_logout' %}"
                class="nav-link px-lg-3 py-3 py-lg-4">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a href="{% url 'account_signup' %}"
                class="nav-link px-lg-3 py-3 py-lg-4">Sign Up</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'account_login' %}"
                class="nav-link px-lg-3 py-3 py-lg-4">Log In</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4"
                  href="{% url 'blog:contact' %}">Contact</a>
            </li>
            {% if user.is_authenticated %}
              {% if user.icon %}
              <li class="nav-item">
                <a href="{% url 'accounts:profile' %}" onClick="hogeFunction();return false;"
                  class="nav-link px-lg-3 py-3 py-lg-4"><img src="{{ user.icon_small.url }}" class="rounded-circle" width="50">
                </a>
              </li>
              {% else %}
              <li class="nav-item">
                <a href="{% url 'accounts:profile' %}" onClick="hogeFunction();return false;"
                  class="nav-link px-lg-3 py-3 py-lg-4">{{ user.username }}'s Profile</a>
              </li>
              {% endif %}
            {% else %}
            <li class="nav-item">
              <a href="#"
                class="nav-link px-lg-3 py-3 py-lg-4">Guest</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <header class="masthead"  style="background-image: url({% static 'assets/img/bg.jpeg' %})">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              {% block header %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </header>
{% if messages %}
<div class="container">
<ul class="messages" style="list-style: none;">
  {% for message in messages %}
    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>
      {{ message }}
    </li>
  {% endfor %}
</ul>
</div>
{% endif %}
<article class="mb-4">
  <div class="container">
    <div class="row justify-content-center">
      <section>
        <div class="container px-4 px-lg-5 mb-2">
          <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
            {% if facebook %}
              <a class="fb-share-button" href="{{ request.build_absolute_uri }}" data-layout="button_count" data-size="large"></a>
              <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            {% endif %}
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="row justify-content-center">
        {% block content %}{% endblock %}
    </div>
  </div>
</article>
    <footer class="border-top">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <ul class="list-inline text-center">
            {% if facebook %}
              <li class="list-inline-item">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode:'' }}&amp;src=sdkpreparse">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            {% endif %}
              <li class="list-inline-item">
                <a href="https://github.com">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <div class="small text-center text-muted fst-italic">
            Copyright &copy; {{ site_title }}
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src={% static 'js/bootstrap.bundle.min.js' %}>
    </script>
    <script src={% static 'js/scripts.js' %}>
    </script>
    <script lang="js">
      function getCookie(cookieName) {
        let name = cookieName + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let cookieArray = decodedCookie.split(';');
        for(let i = 0; i < cookieArray.length; i++) {
            let cookie = cookieArray[i].trim();
            if (cookie.indexOf(name) == 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }
        return null;
      }

      const likeToggles = document.getElementsByClassName('like_toggle');
      for (let i = 0; i < likeToggles.length; i++) {
          likeToggles[i].addEventListener('click', () => {
              const blogpostId = likeToggles[i].dataset.blogpostId
              {% if user.is_authenticated %}const userId = {{ user.id }}{% else %}location.href = "{% url 'account_login' %}"{% endif %}
              const createOrDelete = parseInt(likeToggles[i].dataset.likedByMe) ? 'delete' : 'create'
              fetch(`{% url 'blog:index' %}likes/${createOrDelete}/${blogpostId}/${userId}/`, {
                  method: 'POST',
                  headers: {
                      "Content-Type": "application/json; charset=utf-8",
                      "X-CSRFToken": getCookie('csrftoken')
                  },
                  body: JSON.stringify({"status": "requested from javascript."})
              })
              .then(response => response.json())
              .then(json => {
                  likeToggles[i].nextElementSibling.getElementsByTagName('span')[0].innerHTML = ` ${json.like_cnt}`
                  likeToggles[i].dataset.likedByMe = json.liked_by_me
                  likeToggles[i].firstElementChild.classList.remove('liked')
                  likeToggles[i].firstElementChild.classList.remove('fa-regular')
                  likeToggles[i].firstElementChild.classList.remove('fa-solid')
                  if (json.liked_by_me) {
                      likeToggles[i].firstElementChild.classList.add('liked')
                      likeToggles[i].firstElementChild.classList.add('fa-solid')
                  } else {
                      likeToggles[i].firstElementChild.classList.add('fa-regular')
                  }
              })
              .catch((error) => {
                  console.error('Ooops!! There has been a problem with your fetch operation:', error)
              })
          })
      }

      function closeModal() {
        document.body.removeChild(modalElement);
      }

      function showModal(users, showModalId) {
        const target = document.getElementById(showModalId)
        target.innerHTML = "";
        for (user of users){
          // target.innerHTML += `<p>`;
          if(user['icon'] != ""){
            target.innerHTML += `<a href="{% url 'accounts:target_user' %}${user['username']}"><img src="${user['icon']}" class="rounded-circle" width="50"> ${user['username']}</a> `;
          } else {
            target.innerHTML += `<a href="{% url 'accounts:target_user' %}${user['username']}">${user['username']}</a> `;
          }
          // const created_at_tz = new Date(user['created_at']).toString()
          // target.innerHTML += `at ${user['created_at']}</p>`;
          const created_at_tz = new Date(user['created_at']);
          const year = created_at_tz.getFullYear();
          const month = created_at_tz.getMonth() + 1;
          const date = created_at_tz.getDate();
          const hour = formatTime(created_at_tz.getHours());
          const minute = formatTime(created_at_tz.getMinutes());
          const second = formatTime(created_at_tz.getSeconds());
          const localetime = created_at_tz.toLocaleString();
          function formatTime(val) {
            return ("0" + val).slice(-2);
          }
          // target.innerHTML += `at ${year}-${month}-${date} ${hour}:${minute}:${second} ${tzoffset}</p>`;
          // target.innerHTML += `at ${localetime}</p>`;
          target.innerHTML += `at ${localetime}</br>`;
        }
      }

      function fetchUrlShowModal(url, showModalId) {
          fetch(url, {
            method: 'POST',
            headers: {
              "Content-Type": "application/json; charset=utf-8",
              "X-CSRFToken": getCookie('csrftoken')
            },
            body: JSON.stringify({"status": "requested from javascript."})
          })
          .then(response => response.json())
          .then(json => {
            showModal(json, showModalId);
          })
          .catch((error) => {
            console.error('Ooops!! There has been a problem with your fetch operation:', error)
          })
      }

      const likesCheck = document.getElementsByClassName('check-likes');
      for (let i = 0; i < likesCheck.length; i++) {
        likesCheck[i].addEventListener('click', () => {
          const blogpostId = likesCheck[i].dataset.blogpostId;
          fetchUrlShowModal(`{% url 'blog:index' %}likes/popup/${blogpostId}/`, blogpostId+'_modal');
        });
      }

    </script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v21.0&appId=1251073292601837">
    </script>
  </body>
</html>
