{% extends 'base.html' %}

{% load static %}

{% block title %}{{ site_title }} | contact{% endblock %}

{% block header %}
  <h1>Contact Me</h1>
  <span class="subheading">Have questions? I have answers.</span>
{% endblock %}

{% block content %}
<strong>Do you need contact us?</strong>
<div class="my-5">
  <form method="POST">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-floating">
        <div class="form-group floating-label-form-group controls">
          {{ field.label_tag }}
          {{ field }}
          <p class="form-text text-danger"></p>
        </div>
      </div>
    {% endfor %}
    </br>
    <button type="submit"
            class="btn btn-primary"
            id="sendMessageButton">Send</button>
  </form>
  </hr>
{% endblock %}
