{% extends 'base.html' %}

{% load static %}

{% block title %}Ken's blog : contact{% endblock %}

{% block header %}
  <h1>Contact Me</h1>
  <span class="subheading">Have questions? I have answers.</span>
{% endblock %}

{% block content %}
<strong>Do you need contact us?</strong>
{% if messages %}
<ul class="list-unstyled" style="list-style: none;">
  {% for message in messages %}
    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>
      {{ message }}
    </li>
  {% endfor %}
</ul>
{% endif %}
<div class="my-5">
  <form method="POST">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-floating">
        <div class="form-group floating-label-form-group controls">
          {{ field.label_tag }}
          {{ field }}
          <p class="help-block text-danger"></p>
        </div>
      </div>
    {% endfor %}
    </br>
    <button type="submit"
            class="button button-primary"
            id="sendMessageButton">Send</button>
  </form>
  </hr>
{% endblock %}
