{% extends 'base.html' %}

{% load static %}

{% block title %}{{ site_title }}{% endblock %}

{% block header %}
  <span class="subheading">
    <h1>{{ object.title }}</h1>
  </span>
{% endblock %}

{% block content %}
  {% if user == object.user %}
    <p>your content</p>
  {% else %}
    <p>not your content</p>
  {% endif %}
  <div class="row mb-2">
    {{ object.content|linebreaksbr }}
  </div>
  {% if object.photo or object.photo2 or object.photo3 %}
    <div class="row">
    {% if object.photo %}
      <div class="col-md">
        <img class="img-fluid" src="{{ MEDIA_URL }}{{ object.photo }}">
      </div>
    {% endif %}
    {% if object.photo2 %}
      <div class="col-md">
        <img class="img-fluid" src="{{ MEDIA_URL }}{{ object.photo2 }}">
      </div>
    {% endif %}
    {% if object.photo3 %}
      <div class="col-md">
        <img class="img-fluid" src="{{ MEDIA_URL }}{{ object.photo3 }}">
      </div>
    {% endif %}
    </div>
    <hr>
  {% endif %}
<hr>
  <div class="row">
    <div class="col-3">Posted by</div>
    <div class="col-9">{{ object.user }}</div>
  </div>
  <div class="row mb-2">
    <div class="col-3">Posted at</div>
    <div class="col-9">{{ object.created_at }}</div>
  </div>
  <div class="row mb-2">
    <div class="col-3">Updated at</div>
    <div class="col-9">{{ object.updated_at }}</div>
  </div>
<hr>
  <span class="meta mb-2">
    <a href={% url 'blog:index' %}>{{ site_title }}</a>
  </span>

<hr>

{% if request.user == object.user %}
<form method="POST">
  {% csrf_token %}
  <a href="{% url 'blog:update' object.pk %}"
      class="btn btn-primary my-2">Update</a>
  <a href="{% url 'blog:delete' object.pk %}"
      class="btn btn-danger my-2">Delete</a>
</form>
{% endif %}
{% endblock %}
