{% extends 'base.html' %}

{% load tz_detect %}

{% load static %}

{% block title %}{{ site_title }}{% endblock %}

{% block header %}
  <h1>{{ site_title }}</h1>
  <span class="subheading">
    {{ site_subtitle }}
  </span>
{% endblock %}

{% block content %}
<section>
  <div class="container px-4 px-lg-5 mb-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Search Terms
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse{% if search_words %} show{% endif %}" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <form method="POST" action="{% url 'blog:search' %}">
                  {% csrf_token %}
                  <table class="table caption-top">
                    <tbody>
                      <tr>
                        <th>{{ search_form.author.label }}:</th>
                        <td>{{ search_form.author }}</td>
                      </tr>
                      <tr>
                        <th>{{ search_form.title.label }}:</th>
                        <td>{{ search_form.title }}</td>
                      </tr>
                      <tr>
                        <th>{{ search_form.category.label }}:</th>
                        <td>
                          <section class="combobox-container">
                            <label for="category-input"><input type="button" value="clear" onclick="clearCategory()" /></label>
                            <div class="combobox combobox-list">
                              <div class="group">
                                <input name="category" id="category-input" class="category-edit" type="text" role="combobox" aria-autocomplete="both" aria-expanded="false" aria-controls="category-listbox" value="{{ category }}">
                                <button type="button" id="category-button" aria-label="Categories" aria-expanded="false" aria-controls="category-listbox" tabindex="-1" class="accordion-button"></button>
                              </div>
                              <ul id="category-listbox" role="listbox" aria-label="Categories">
                              {% for item in search_form.fields.category.choices %}
                                {% if item == '' %}
                                  <li value="{{ item }}" role="option" selected>&nbsp;</li>
                                {% else %}
                                  <li value="{{ item }}" role="option" >{{ item }}</li>
                                {% endif %}
                              {% endfor %}
                              </ul>
                            </div>
                          </section>
                        </td>
                      </tr>
                      <tr>
                        <th>{{ search_form.content.label }}:</th>
                        <td>{{ search_form.content }}</td>
                      </tr>
                      {% if user.is_authenticated %}
                      <tr>
                        <th>{{ search_form.friends_post.label }}:</th>
                        <td>{{ search_form.friends_post }}</td>
                      </tr>
                      {% endif %}
                      <tr>
                        <th>{{ search_form.posted_from.label }}:</th>
                        <td>{{ search_form.posted_from }}</td>
                      </tr>
                      <tr>
                        <th>{{ search_form.posted_to.label }}:</th>
                        <td>{{ search_form.posted_to }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <input class="btn btn-danger" type="submit" id="reset" name="reset" value="reset">
                  <input class="btn btn-success" type="submit" id="button" name="button" value="search">
                </form>
                {% if form.errors.posted_from %}
                  {% for error in form.errors.posted_from %}
                    <div>{{ error }}</div>
                  {% endfor %}
                  {% for error in form.errors.posted_to %}
                    <div>{{ error }}</div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {% for record in orderby_records %}
          <div class="post-preview">
            <a href="#" id="{{ record.pk }}" >
              <h2 class="post-title">
              <a href="{% url 'blog:blog_detail' record.pk %}">{{ record.title }}</a></h2>
              {% if record.category %}
              <div class="row">
                <div class="col-3">Category</div>
                <div class="col-9">
                  <form method="POST" action="{% url 'blog:search' %}">
                    {% csrf_token %}
                    <input type="hidden" name="category" value="{{ record.category.name }}">
                    <button class="btn btn-link ps-1" type="submit">{{ record.category.name }}</button>
                  </form>
                </div>
              </div>
              <hr>
              {% endif %}
              <h3 class="post-subtitle">
                <span style="font-size : 14pt">
                  {{ record.get_text_markdownx|safe }}
                </span>
              </h3>
              {% if record.photo or record.photo2 or record.photo3 %}
              <div class="row">
                {% if record.photo %}
                  <div class="col-md">
                    <img src="{{ record.photo_small.url }}" width="200">
                  </div>
                {% endif %}
                {% if record.photo2 %}
                  <div class="col-md">
                    <img src="{{ record.photo2_small.url }}" width="200">
                  </div>
                {% endif %}
                {% if record.photo3 %}
                  <div class="col-md">
                    <img src="{{ record.photo3_small.url }}" width="200">
                  </div>
                {% endif %}
              </div>
              {% endif %}
                {% if record.tags.all %}
                  <p style="font-size : 10pt">
                  {% for tag in record.tags.all %}
                    {{ tag.name }}
                  {% endfor %}
                  </p>
                {% endif %}
            </a>
              <form action="{% url 'accounts:target_user' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="target_user" value="{{ record.user }}">
                <input type="hidden" name="return_url" value="{% url 'blog:index' %}#{{ record.pk }}">
                <button type="submit" value="{{ record.user }}" class="btn btn-link">Posted by {% if record.user.icon_small %}<img src="{{ record.user.icon_small.url }}" class="rounded-circle" width="50">{% endif %} {{ record.user }}</button>
              </form>
              Posted at {{ record.created_at|date:"Y-m-d H:i:s T" }}{% tz_detect %}
              {% if record.is_updated %}
                </br>Updated at {{ record.updated_at|date:"Y-m-d H:i:s T" }}{% tz_detect %}
              {% endif %}
            <p class="post-meta mt-2">
              <a href="{% url 'blog:blog_detail' record.pk %}"><i class="fa-regular fa-comment"></i> {{ record.comments.count }}</a>
              <button
                  type="button"
                  class="like_toggle btn pe-1"
                  data-blogpost-id="{{ record.id }}"
                  data-liked-by-me="{{ record.liked_by_me }}"
              ><i class="{% if record.liked_by_me %}fa-solid fa-heart liked{% else %}fa-regular fa-heart{% endif %}"></i>
              </button>
              &nbsp;<button class="btn btn-link ps-1 check-likes" data-bs-toggle="modal" data-bs-target="#{{ record.pk }}_likes" data-blogpost-id="{{ record.id }}"><span class="fst-italic">{{ record.like_cnt }}</span></button>
            </p>
          </div>

          <div class="modal fade" id="{{ record.pk }}_likes" tabindex="-1">
            <div class="modal-dialog">
              <div class=modal-content>
                <div class="modal-header">
                  <h5 class="modal-title">Who likes {{ record.title }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <p id="{{ record.pk }}_modal"></p>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <hr>
        {% endfor %}
        {% include "pagination.html" %}
      </div>
    </div>
  </div>
</section>
{% if user.is_superuser %}
<hr>
<section>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
      {% if maintenance_mode %}
        <a class="btn btn-secondary" href="{% url 'maintenance_mode_off' %}">End maintenance</a>
      {% else %}
        <a class="btn btn-secondary" href="{% url 'maintenance_mode_on' %}">Begin maintenance</a>
      {% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}
<script>
class ComboboxAutocomplete {
  constructor(comboboxNode, buttonNode, listboxNode) {
    this.comboboxNode = comboboxNode;
    this.buttonNode = buttonNode;
    this.listboxNode = listboxNode;

    this.comboboxHasVisualFocus = false;
    this.listboxHasVisualFocus = false;

    this.hasHover = false;

    this.isNone = false;
    this.isList = false;
    this.isBoth = false;

    this.allOptions = [];

    this.option = null;
    this.firstOption = null;
    this.lastOption = null;

    this.filteredOptions = [];
    this.filter = '';

    var autocomplete = this.comboboxNode.getAttribute('aria-autocomplete');

    if (typeof autocomplete === 'string') {
      autocomplete = autocomplete.toLowerCase();
      this.isNone = autocomplete === 'none';
      this.isList = autocomplete === 'list';
      this.isBoth = autocomplete === 'both';
    } else {
      // default value of autocomplete
      this.isNone = true;
    }

    this.comboboxNode.addEventListener(
      'keydown',
      this.onComboboxKeyDown.bind(this)
    );
    this.comboboxNode.addEventListener(
      'keyup',
      this.onComboboxKeyUp.bind(this)
    );
    this.comboboxNode.addEventListener(
      'click',
      this.onComboboxClick.bind(this)
    );
    this.comboboxNode.addEventListener(
      'focus',
      this.onComboboxFocus.bind(this)
    );
    this.comboboxNode.addEventListener('blur', this.onComboboxBlur.bind(this));

    document.body.addEventListener(
      'pointerup',
      this.onBackgroundPointerUp.bind(this),
      true
    );

    this.listboxNode.addEventListener(
      'pointerover',
      this.onListboxPointerover.bind(this)
    );
    this.listboxNode.addEventListener(
      'pointerout',
      this.onListboxPointerout.bind(this)
    );

    var nodes = this.listboxNode.getElementsByTagName('LI');

    for (var i = 0; i < nodes.length; i++) {
      var node = nodes[i];
      this.allOptions.push(node);

      node.addEventListener('click', this.onOptionClick.bind(this));
      node.addEventListener('pointerover', this.onOptionPointerover.bind(this));
      node.addEventListener('pointerout', this.onOptionPointerout.bind(this));
    }

    this.filterOptions();

    var button = this.comboboxNode.nextElementSibling;

    if (button && button.tagName === 'BUTTON') {
      button.addEventListener('click', this.onButtonClick.bind(this));
    }
  }

  getLowercaseContent(node) {
    return node.textContent.toLowerCase();
  }

  isOptionInView(option) {
    var bounding = option.getBoundingClientRect();
    return (
      bounding.top >= 0 &&
      bounding.left >= 0 &&
      bounding.bottom <=
        (window.innerHeight || document.documentElement.clientHeight) &&
      bounding.right <=
        (window.innerWidth || document.documentElement.clientWidth)
    );
  }

  setActiveDescendant(option) {
    if (option && this.listboxHasVisualFocus) {
      this.comboboxNode.setAttribute('aria-activedescendant', option.id);
      if (!this.isOptionInView(option)) {
        option.scrollIntoView({ behavior: 'smooth', block: 'nearest' });
      }
    } else {
      this.comboboxNode.setAttribute('aria-activedescendant', '');
    }
  }

  setValue(value) {
    this.filter = value;
    this.comboboxNode.value = this.filter;
    this.comboboxNode.setSelectionRange(this.filter.length, this.filter.length);
    this.filterOptions();
  }

  setOption(option, flag) {
    if (typeof flag !== 'boolean') {
      flag = false;
    }

    if (option) {
      this.option = option;
      this.setCurrentOptionStyle(this.option);
      this.setActiveDescendant(this.option);

      if (this.isBoth) {
        this.comboboxNode.value = this.option.textContent;
        if (flag) {
          this.comboboxNode.setSelectionRange(
            this.option.textContent.length,
            this.option.textContent.length
          );
        } else {
          this.comboboxNode.setSelectionRange(
            this.filter.length,
            this.option.textContent.length
          );
        }
      }
    }
  }

  setVisualFocusCombobox() {
    this.listboxNode.classList.remove('focus');
    this.comboboxNode.parentNode.classList.add('focus'); // set the focus class to the parent for easier styling
    this.comboboxHasVisualFocus = true;
    this.listboxHasVisualFocus = false;
    this.setActiveDescendant(false);
  }

  setVisualFocusListbox() {
    this.comboboxNode.parentNode.classList.remove('focus');
    this.comboboxHasVisualFocus = false;
    this.listboxHasVisualFocus = true;
    this.listboxNode.classList.add('focus');
    this.setActiveDescendant(this.option);
  }

  removeVisualFocusAll() {
    this.comboboxNode.parentNode.classList.remove('focus');
    this.comboboxHasVisualFocus = false;
    this.listboxHasVisualFocus = false;
    this.listboxNode.classList.remove('focus');
    this.option = null;
    this.setActiveDescendant(false);
  }

  // ComboboxAutocomplete Events

  filterOptions() {
    // do not filter any options if autocomplete is none
    if (this.isNone) {
      this.filter = '';
    }

    var option = null;
    var currentOption = this.option;
    var filter = this.filter.toLowerCase();

    this.filteredOptions = [];
    this.listboxNode.innerHTML = '';

    for (var i = 0; i < this.allOptions.length; i++) {
      option = this.allOptions[i];
      if (
        filter.length === 0 ||
        this.getLowercaseContent(option).indexOf(filter) === 0
      ) {
        this.filteredOptions.push(option);
        this.listboxNode.appendChild(option);
      }
    }

    // Use populated options array to initialize firstOption and lastOption.
    var numItems = this.filteredOptions.length;
    if (numItems > 0) {
      this.firstOption = this.filteredOptions[0];
      this.lastOption = this.filteredOptions[numItems - 1];

      if (currentOption && this.filteredOptions.indexOf(currentOption) >= 0) {
        option = currentOption;
      } else {
        option = this.firstOption;
      }
    } else {
      this.firstOption = null;
      option = null;
      this.lastOption = null;
    }

    return option;
  }

  setCurrentOptionStyle(option) {
    for (var i = 0; i < this.filteredOptions.length; i++) {
      var opt = this.filteredOptions[i];
      if (opt === option) {
        opt.setAttribute('aria-selected', 'true');
        if (
          this.listboxNode.scrollTop + this.listboxNode.offsetHeight <
          opt.offsetTop + opt.offsetHeight
        ) {
          this.listboxNode.scrollTop =
            opt.offsetTop + opt.offsetHeight - this.listboxNode.offsetHeight;
        } else if (this.listboxNode.scrollTop > opt.offsetTop + 2) {
          this.listboxNode.scrollTop = opt.offsetTop;
        }
      } else {
        opt.removeAttribute('aria-selected');
      }
    }
  }

  getPreviousOption(currentOption) {
    if (currentOption !== this.firstOption) {
      var index = this.filteredOptions.indexOf(currentOption);
      return this.filteredOptions[index - 1];
    }
    return this.lastOption;
  }

  getNextOption(currentOption) {
    if (currentOption !== this.lastOption) {
      var index = this.filteredOptions.indexOf(currentOption);
      return this.filteredOptions[index + 1];
    }
    return this.firstOption;
  }

  doesOptionHaveFocus() {
    return this.comboboxNode.getAttribute('aria-activedescendant') !== '';
  }

  isOpen() {
    return this.listboxNode.style.display === 'block';
  }

  isClosed() {
    return this.listboxNode.style.display !== 'block';
  }

  hasOptions() {
    return this.filteredOptions.length;
  }

  open() {
    this.listboxNode.style.display = 'block';
    this.comboboxNode.setAttribute('aria-expanded', 'true');
    this.buttonNode.setAttribute('aria-expanded', 'true');
  }

  close(force) {
    if (typeof force !== 'boolean') {
      force = false;
    }

    if (
      force ||
      (!this.comboboxHasVisualFocus &&
        !this.listboxHasVisualFocus &&
        !this.hasHover)
    ) {
      this.setCurrentOptionStyle(false);
      this.listboxNode.style.display = 'none';
      this.comboboxNode.setAttribute('aria-expanded', 'false');
      this.buttonNode.setAttribute('aria-expanded', 'false');
      this.setActiveDescendant(false);
      this.comboboxNode.parentNode.classList.add('focus');
    }
  }

  onComboboxKeyDown(event) {
    var flag = false,
      altKey = event.altKey;

    if (event.ctrlKey || event.shiftKey) {
      return;
    }

    switch (event.key) {
      case 'Enter':
        if (this.listboxHasVisualFocus) {
          this.setValue(this.option.textContent);
        }
        this.close(true);
        this.setVisualFocusCombobox();
        flag = true;
        break;

      case 'Down':
      case 'ArrowDown':
        if (this.filteredOptions.length > 0) {
          if (altKey) {
            this.open();
          } else {
            this.open();
            if (
              this.listboxHasVisualFocus ||
              (this.isBoth && this.filteredOptions.length > 1)
            ) {
              this.setOption(this.getNextOption(this.option), true);
              this.setVisualFocusListbox();
            } else {
              this.setOption(this.firstOption, true);
              this.setVisualFocusListbox();
            }
          }
        }
        flag = true;
        break;

      case 'Up':
      case 'ArrowUp':
        if (this.hasOptions()) {
          if (this.listboxHasVisualFocus) {
            this.setOption(this.getPreviousOption(this.option), true);
          } else {
            this.open();
            if (!altKey) {
              this.setOption(this.lastOption, true);
              this.setVisualFocusListbox();
            }
          }
        }
        flag = true;
        break;

      case 'Esc':
      case 'Escape':
        if (this.isOpen()) {
          this.close(true);
          this.filter = this.comboboxNode.value;
          this.filterOptions();
          this.setVisualFocusCombobox();
        } else {
          this.setValue('');
          this.comboboxNode.value = '';
        }
        this.option = null;
        flag = true;
        break;

      case 'Tab':
        this.close(true);
        if (this.listboxHasVisualFocus) {
          if (this.option) {
            this.setValue(this.option.textContent);
          }
        }
        break;

      case 'Home':
        this.comboboxNode.setSelectionRange(0, 0);
        flag = true;
        break;

      case 'End':
        var length = this.comboboxNode.value.length;
        this.comboboxNode.setSelectionRange(length, length);
        flag = true;
        break;

      default:
        break;
    }

    if (flag) {
      event.stopPropagation();
      event.preventDefault();
    }
  }

  isPrintableCharacter(str) {
    return str.length === 1 && str.match(/\S| /);
  }

  onComboboxKeyUp(event) {
    var flag = false,
      option = null,
      char = event.key;

    if (this.isPrintableCharacter(char)) {
      this.filter += char;
    }

    if (this.comboboxNode.value.length < this.filter.length) {
      this.filter = this.comboboxNode.value;
      this.option = null;
      this.filterOptions();
    }

    if (event.key === 'Escape' || event.key === 'Esc') {
      return;
    }

    switch (event.key) {
      case 'Backspace':
        this.setVisualFocusCombobox();
        this.setCurrentOptionStyle(false);
        this.filter = this.comboboxNode.value;
        this.option = null;
        this.filterOptions();
        flag = true;
        break;

      case 'Left':
      case 'ArrowLeft':
      case 'Right':
      case 'ArrowRight':
      case 'Home':
      case 'End':
        if (this.isBoth) {
          this.filter = this.comboboxNode.value;
        } else {
          this.option = null;
          this.setCurrentOptionStyle(false);
        }
        this.setVisualFocusCombobox();
        flag = true;
        break;

      default:
        if (this.isPrintableCharacter(char)) {
          this.setVisualFocusCombobox();
          this.setCurrentOptionStyle(false);
          flag = true;

          if (this.isList || this.isBoth) {
            option = this.filterOptions();
            if (option) {
              if (this.isClosed() && this.comboboxNode.value.length) {
                this.open();
              }

              if (
                this.getLowercaseContent(option).indexOf(
                  this.comboboxNode.value.toLowerCase()
                ) === 0
              ) {
                this.option = option;
                if (this.isBoth || this.listboxHasVisualFocus) {
                  this.setCurrentOptionStyle(option);
                  if (this.isBoth) {
                    this.setOption(option);
                  }
                }
              } else {
                this.option = null;
                this.setCurrentOptionStyle(false);
              }
            } else {
              this.close();
              this.option = null;
              this.setActiveDescendant(false);
            }
          } else if (this.comboboxNode.value.length) {
            this.open();
          }
        }

        break;
    }

    if (flag) {
      event.stopPropagation();
      event.preventDefault();
    }
  }

  onComboboxClick() {
    if (this.isOpen()) {
      this.close(true);
    } else {
      this.open();
    }
  }

  onComboboxFocus() {
    this.filter = this.comboboxNode.value;
    this.filterOptions();
    this.setVisualFocusCombobox();
    this.option = null;
    this.setCurrentOptionStyle(null);
  }

  onComboboxBlur() {
    this.removeVisualFocusAll();
  }

  onBackgroundPointerUp(event) {
    if (
      !this.comboboxNode.contains(event.target) &&
      !this.listboxNode.contains(event.target) &&
      !this.buttonNode.contains(event.target)
    ) {
      this.comboboxHasVisualFocus = false;
      this.setCurrentOptionStyle(null);
      this.removeVisualFocusAll();
      setTimeout(this.close.bind(this, true), 300);
    }
  }

  onButtonClick() {
    if (this.isOpen()) {
      this.close(true);
    } else {
      this.open();
    }
    this.comboboxNode.focus();
    this.setVisualFocusCombobox();
  }

  onListboxPointerover() {
    this.hasHover = true;
  }

  onListboxPointerout() {
    this.hasHover = false;
    setTimeout(this.close.bind(this, false), 300);
  }

  onOptionClick(event) {
    this.comboboxNode.value = event.target.textContent;
    this.close(true);
  }

  onOptionPointerover() {
    this.hasHover = true;
    this.open();
  }

  onOptionPointerout() {
    this.hasHover = false;
    setTimeout(this.close.bind(this, false), 300);
  }
}

window.addEventListener('load', function () {
  var comboboxes = document.querySelectorAll('.combobox-list');

  for (var i = 0; i < comboboxes.length; i++) {
    var combobox = comboboxes[i];
    var comboboxNode = combobox.querySelector('input');
    var buttonNode = combobox.querySelector('button');
    var listboxNode = combobox.querySelector('[role="listbox"]');
    new ComboboxAutocomplete(comboboxNode, buttonNode, listboxNode);
  }
});
</script>
<script>
function clearCategory() {
  var textForm = document.getElementById("category-input");
  textForm.value = '';
}
</script>
{% endblock %}
