{% extends 'base.html' %}

{% load static %}

{% block title %}Ken's Pages{% endblock %}

{% block header %}
  <h1>Ken's Blog</h1>
  <span class="subheading">
    A blog Theme by Start Bootstrap
  </span>
{% endblock %}

{% block content %}
<section>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {% for record in orderby_records %}
          <div class="post-preview">
            <a href="#">
              <h2 class="post-title">
              <a href="{% url 'blog:blog_detail' record.pk %}">{{ record.title }}</a></h2>
              <h3 class="post-subtitle">
                <span style="font-size : 14pt">
                  {{ record.content|truncatechars:50 }}
                </span>
              </h3>
                <p style="font-size : 10pt">
                {% for tag in record.tags.all %}
                  {{ tag.name }}
                {% endfor %}
                </p>
            </a>
            <p class="post-meta">
              Posted by {{ record.user }}
              </br>Posted at {{ record.created_at }}
              {% if record.is_updated %}
                </br>Updated at {{ record.updated_at }}
              {% endif %}
            </p>
          </div>
        {% endfor %}
        {% include "pagination.html" %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
