{% extends 'base.html' %}

{% load tz_detect %}

{% load static %}

{% block title %}{{ site_title }}{% endblock %}

{% block header %}
  <h1>{{ site_title }}</h1>
  <span class="subheading">
    {{ site_subtitle }}
  </span>
{% endblock %}

{% block content %}
<section>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {% for record in orderby_records %}
          <div class="post-preview">
            <a href="#" id="{{ record.pk }}" >
              <h2 class="post-title">
              <a href="{% url 'blog:blog_detail' record.pk %}">{{ record.title }}</a></h2>
              <h3 class="post-subtitle">
                <span style="font-size : 14pt">
                  {{ record.get_text_markdownx|safe }}
                </span>
              </h3>
              {% if record.photo or record.photo2 or record.photo3 %}
              <div class="row">
                {% if record.photo %}
                  <div class="col-md">
                    <img src="{{ record.photo_small.url }}" width="200">
                  </div>
                {% endif %}
                {% if record.photo2 %}
                  <div class="col-md">
                    <img src="{{ record.photo2_small.url }}" width="200">
                  </div>
                {% endif %}
                {% if record.photo3 %}
                  <div class="col-md">
                    <img src="{{ record.photo3_small.url }}" width="200">
                  </div>
                {% endif %}
              </div>
              {% endif %}
                {% if record.tags.all %}
                  <p style="font-size : 10pt">
                  {% for tag in record.tags.all %}
                    {{ tag.name }}
                  {% endfor %}
                  </p>
                {% endif %}
            </a>
              <form action="{% url 'accounts:target_user' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="target_user" value="{{ record.user }}">
                <input type="hidden" name="return_url" value="{% url 'blog:index' %}#{{ record.pk }}">
                <button type="submit" value="{{ record.user }}" class="btn btn-link">Posted by {% if record.user.icon_small %}<img src="{{ record.user.icon_small.url }}" class="rounded-circle" width="50">{% endif %} {{ record.user }}</button>
              </form>
              Posted at {{ record.created_at|date:"Y-m-d H:i:s T" }}{% tz_detect %}
              {% if record.is_updated %}
                </br>Updated at {{ record.updated_at|date:"Y-m-d H:i:s T" }}{% tz_detect %}
              {% endif %}
            <p class="post-meta mt-2">
              <a href="{% url 'blog:blog_detail' record.pk %}"><i class="fa-regular fa-comment"></i> {{ record.comments.count }}</a>
              <button
                  type="button"
                  class="like_toggle btn"
                  data-blogpost-id="{{ record.id }}"
                  data-liked-by-me="{{ record.liked_by_me }}"
              ><i class="fa-solid fa-heart{% if record.liked_by_me %} liked{% endif %}"></i><span class="fst-italic"> {{ record.like_cnt }}</span>
              </button>
            </p>
          </div>
          <hr>
        {% endfor %}
        {% include "pagination.html" %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
