{% extends 'base.html' %}

{% load tz_detect %}

{% load static %}

{% block title %}{{ site_title }}{% endblock %}

{% block header %}
  <h1>{{ site_title }}</h1>
  <span class="subheading">
    Who likes this article/comment?
  </span>
{% endblock %}

{% block content %}
<section>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <a href="{% url 'blog:blog_detail' object.pk %}">{{ object.title }}</a> is liked by:
        {% for record in like_list %}
          <div class="post-preview" id="{{ record.pk }}">
            <form action="{% url 'accounts:target_user' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="target_user" value="{{ record.user }}">
              <input type="hidden" name="return_url" value="{% url 'blog:index' %}#{{ record.pk }}">
              <button type="submit" value="{{ record.user }}" class="btn btn-link">{% if record.user.icon_small %}<img src="{{ record.user.icon_small.url }}" class="rounded-circle" width="50">{% endif %} {{ record.user }}</button>
              Posted at {{ record.created_at|date:"Y-m-d H:i:s T" }}{% tz_detect %}
            </form>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
