{% extends 'base.html' %}

{% load static %}

{% block title %}{{ site_title }} | Post Success{% endblock %}

{% block header %}
<h1>Post Success</h1>
<span class="subheading">your post was successful.</span>
{% endblock %}

{% block content %}
<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <h4>Post Completed</h4>
      </div>
    </div>
  </div>
</div>

<hr>

{% endblock %}
