{% extends 'base.html' %}

{% load static %}

{% block title %}{{ site_title }} | Post{% endblock %}

{% block header %}
  <h1>Create New Post</h1>
  <span class="subheading">Write a new post.</span>
{% endblock %}

{% block content %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
      <tr>
        <th>Title</th>
        <td>{{ form.title }}</td>
      </tr>
      <tr>
        <th>Category</th>
        <td>{{ form.category }}</td>
      </tr>
      <tr>
        <th>Content</th>
        <td>{{ form.content }}</td>
      </tr>
      <tr>
        <th>{{ form.is_public.label }}</th>
        <td>{{ form.is_public }}</td>
      </tr>
      <tr>
        <th>{{ form.only_friends.label }}</th>
        <td>{{ form.only_friends }}</td>
      </tr>
      <tr>
        <th>Photo</th>
        <td>{{ form.photo }}</td>
      </tr>
      <tr>
        <th>Photo2</th>
        <td>{{ form.photo2 }}</td>
      </tr>
      <tr>
        <th>Photo3</th>
        <td>{{ form.photo3 }}</td>
      </tr>
    </table>
    <hr>
    <button type="submit" class="btn btn-primary">Post</button>
    <a href="{% url 'blog:index' %}" class="btn btn-danger">cancel</a>
  </form>
  <hr>
  <div class="row">
  {{ form.media }}
  </div>

  <hr>

{% endblock %}
