{% extends 'base.html' %}

{% load static %}

{% block title %}{{ site_title }} | Update{% endblock %}

{% block header %}
  <h1>Update Post</h1>
  <span class="subheading">Update the post.</span>
{% endblock %}

{% block content %}
  <form class="formUpdate" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
      <tbody>
        <tr>
          <th>{{ form.title.label }}</th>
          <td>{{ form.title }}</td>
        </tr>
        <tr>
          <th>{{ form.content.label }}</th>
          <td>{{ form.content }}</td>
        </tr>
        <tr>
          <th>{{ form.is_public.label }}</th>
          <td>{{ form.is_public }}</td>
        </tr>
        <tr>
          <th>{{ form.only_friends.label }}</th>
          <td>{{ form.only_friends }}</td>
        </tr>
        <tr>
          <th>{{ form.photo.label }}</th>
          {% if form.photo.value %}
          <td>
            Currently:
            <img src="{{ form.photo.value.url }}" width="150">
            <input type="checkbox" name="photo-clear" id="photo-clear_id">
            <label for="photo-clear_id">Clear</label>
            <br>
            Change:
            <input type="file" name="photo" accept="image/*" class="form-control" id="id_photo">
          </td>
          {% else %}
          <td>{{ form.photo }}</td>
          {% endif %}
        </tr>
        <tr>
          <th>{{ form.photo2.label }}</th>
          {% if form.photo2.value %}
          <td>
            Currently:
            <img src="{{ form.photo2.value.url }}" width="150">
            <input type="checkbox" name="photo2-clear" id="photo2-clear_id">
            <label for="photo2-clear_id">Clear</label>
            <br>
            Change:
            <input type="file" name="photo2" accept="image/*" class="form-control" id="id_photo2">
          </td>
          {% else %}
          <td>{{ form.photo2 }}</td>
          {% endif %}
        </tr>
        <tr>
          <th>{{ form.photo3.label }}</th>
          {% if form.photo3.value %}
          <td>
            Currently:
            <img src="{{ form.photo3.value.url }}" width="150">
            <input type="checkbox" name="photo3-clear" id="photo3-clear_id">
            <label for="photo3-clear_id">Clear</label>
            <br>
            Change:
            <input type="file" name="photo3" accept="image/*" class="form-control" id="id_photo3">
          </td>
          {% else %}
          <td>{{ form.photo3 }}</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
    <div class="form-group text-right" style="padding:20px 0">
      <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
  </form>
  {{ form.media }}

  <hr>

{% endblock %}
