{% extends 'base.html' %}

{% load static %}

{% block title %}Ken's Pages | Update{% endblock %}

{% block header %}
  <h1>Update Post</h1>
  <span class="subheading">Update the post.</span>
{% endblock %}

{% block content %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
      <tr>
        <th>Title</th>
        <td>{{ form.title }}</td>
      </tr>
      <tr>
        <th>Content</th>
        <td>{{ form.content }}</td>
      </tr>
      <tr>
        <th>Photo</th>
        <td>{{ form.photo }}</td>
        {% if object.photo_small %}
        <td><img src="{{ object.photo_small.url }}" width="100"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Photo2</th>
        <td>{{ form.photo2 }}</td>
        {% if object.photo2_small %}
        <td><img src="{{ object.photo2_small.url }}" width="100"></td>
        {% endif %}
      </tr>
      <tr>
        <th>Photo3</th>
        <td>{{ form.photo3 }}</td>
        {% if object.photo3_small %}
        <td><img src="{{ object.photo3_small.url }}" width="100"></td>
        {% endif %}
      </tr>
    </table>
    <hr>
    <button type="submit">Save</button>
  </form>

  <hr>

{% endblock %}
