{% extends 'base.html' %}

{% load tz_detect %}

{% load static %}

{% block title %}{{ site_title }}{% endblock %}

{% block header %}
  <h1>{{ site_title }}</h1>
  <span class="subheading">
    {{ site_subtitle }}
  </span>
{% endblock %}

{% block content %}
<section>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        503 This site is currently under maintenance.  <a href="{% url 'blog:index' %}">TOP Page</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
