{% extends 'base.html' %}

{% load static %}

{% block title %}{{ site_title }} | User's Profile{% endblock %}

{% block header %}
  <h1>User's Profile</h1>
  <span class="subheading">You can update your profile.</span>
{% endblock %}

{% block content %}
<div class="row">
  <table class="table">
    <tbody>
      <tr>
        <th>Username</th>
        <td>{{ user.username }}</td>
        <td>
          <div class="row mb-2">
            <div class="col d-flex justify-content-start">
              <a href="{% url 'accounts:update_username' %}"
                  class="btn btn-primary my-2 mx-2">Update</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
        <td>
          <div class="row mb-2">
            <div class="col d-flex justify-content-start">
              <a href="{% url 'account_email' %}"
                  class="btn btn-primary my-2 mx-2">Update</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th>Icon</th>
      {% if user.icon %}
        <td><img src="{{ user.icon.url }}" width="200"></td>
      {% else %}
        <td>(No Icon Data)</td>
      {% endif %}
        <td>
          <div class="row mb-2">
            <div class="col d-flex justify-content-start">
              <a href="{% url 'accounts:update_icon' %}"
                  class="btn btn-primary my-2 mx-2">Update</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th>Introduction</th>
        <td>{{ user.get_text_markdownx| safe }}</td>
        <td>
          <div class="row mb-2">
            <div class="col d-flex justify-content-start markdownx">
              <a href="{% url 'accounts:update_introduction' %}"
                  class="btn btn-primary my-2 mx-2">Update</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th># of followings</th>
        <td><button class="btn btn-link ps-1" id="check-followings" data-bs-toggle="modal" data-bs-target="#follow-list" data-user-name="{{ user.username }}">{{ following }}</button></td>
        <td></td>
      </tr>
      <tr>
        <th># of followers</th>
        <td><button class="btn btn-link ps-1" id="check-followers" data-bs-toggle="modal" data-bs-target="#follow-list" data-user-name="{{ user.username }}">{{ follower }}</button></td>
        <td></td>
      </tr>
    </tbody>
  </table>

<div class="modal fade" id="follow-list" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ target_user.username }}'s followings/followers</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p id="showfollows"></p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <span class="meta mb-2">
    <a href="{{ return_url }}">Back</a>
  </span>
</div>

<script>
      const followingsCheck = document.getElementById('check-followings');
      followingsCheck.addEventListener('click', () => {
        const userName = followingsCheck.dataset.userName;
        fetchUrlShowModal(`{% url 'blog:index' %}accounts/profile/follow/popup/followings/${userName}/`, 'showfollows');
        const follow_list = document.getElementById("follow-list");
        const follow_list_titles = follow_list.getElementsByClassName("modal-title");
        follow_list_titles[0].innerHTML = "{{ target_user.username }}'s follwings";
      });

      const followersCheck = document.getElementById('check-followers');
      followersCheck.addEventListener('click', () => {
        const userName = followersCheck.dataset.userName;
        fetchUrlShowModal(`{% url 'blog:index' %}accounts/profile/follow/popup/followers/${userName}/`, 'showfollows');
        const follow_list = document.getElementById("follow-list");
        const follow_list_titles = follow_list.getElementsByClassName("modal-title");
        follow_list_titles[0].innerHTML = "{{ target_user.username }}'s follwers";
      });
</script>
{% endblock %}
