{% extends 'base.html' %}

{% load static %}

{% block title %}{{ site_title }} | Update Icon{% endblock %}

{% block header %}
  <h1>Update Icon</h1>
  <span class="subheading">Update Icon.</span>
{% endblock %}

{% block content %}
{% for key, errors in form.errors.items %}
<ul class="alert alert-danger list-unstyled">{% for error in errors %}
    <li>{{ error }}</li>
{% endfor %}
</ul>
{% endfor %}

<div class="row">
  <table class="table">
    <tbody>
      <tr>
        <th>Current Icon</th>
        {% if current_icon %}
        <td><img src="{{ current_icon.url }}"></td>
        {% else %}
        <td>(No Icon Data)</td>
        {% endif %}
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <form class="formUpdate" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
      <tbody>
        <tr>
          <th>{{ form.icon.label }}</th>
          <td>{{ form.icon }}</td>
        </tr>
      </tbody>
    </table>
    <div class="form-group text-right" style="padding:20px 0">
      <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
  </form>
</div>

  <hr>

{% endblock %}
