.my-div-style {
  margin-top: 6rem;
}

h2.post-title {
  text-decoration: underline;
  background: #c2edff;
  padding: 0.5em;
}

.liked {
  color: red;
}

.btn {
  font-size: 1.125rem;
}

.fb_iframe_widget > span {
  vertical-align: baseline !important;
}

.combobox-container {
  /* background-color: rgb(128 128 128 / .3); */
  /* background-color: rgb(128 128 128); */
  background-color: rgb(255 255 255);
  border-radius: 24px;
  display: grid;
  /* padding: 16px; */
  position: relative;
  min-width: 150px;
  background-blend-mode: luminosity;
  backdrop-filter: blur(15px);
  &::before {
    background: linear-gradient(135deg, rgb(255 255 255 / .4) 0, rgb(255 255 255 / 0) 40%, rgb(255 255 255 / 0) 60%, rgb(255 255 255 / .1) 100%);
    border: 1.4px solid transparent;
    border-radius: 12px;
    content: "";
    inset: 0;
    position: absolute;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0) border-box;
    -webkit-mask-composite: destination-out;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0) border-box;
    mask-composite: exclude;
    z-index: -1;
  }
}

label {
  font-size: 14px;
}

.combobox-list {
  position: relative;
  margin-top: 4px;
}

.combobox .group {
  display: inline-flex;
  cursor: pointer;
  border-radius: 8px;
  background: linear-gradient(0deg, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0.10) 100%), rgba(0, 0, 0, .5);
  background-blend-mode: luminosity, color-burn;
  box-shadow: 1px 1.5px 4px 0px rgba(0, 0, 0, 0.10) inset, 1px 1.5px 4px 0px rgba(0, 0, 0, 0.08) inset, 0px -0.5px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px -0.5px 1px 0px rgba(255, 255, 255, 0.30) inset;
}

.combobox input,
.combobox button {
  /* background-color: transparent; */
  /* border: none; */
  /* color: #FFFFFF; */
  margin: 0;
  vertical-align: bottom;
  position: relative;
  cursor: pointer;
}

.combobox input {
  flex-grow: 1;
  font-size: 16px;
  padding: 2px 12px;
}

.combobox button {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 32px;
  color: #FFFFFF;
  
  &[aria-expanded="true"] {
    transform: rotate(180deg);
  }
}


ul[role="listbox"] {
  outline: solid;
  outline-color: gray;
  margin: 0;
  padding: 8px 0;
  position: absolute;
  left: 0;
  top: 42px;
  list-style: none;
  /* background-color: rgb(128 128 128 / .3); */
  background-color: rgb(255 255 255);
  background-blend-mode: luminosity;
  backdrop-filter: blur(15px);
  border-radius: 8px;
  display: none;
  max-height: 100px;
  overflow: auto;
  width: 100%;
  &::-webkit-scrollbar{
    display: none;
  }
}

ul[role="listbox"] li[role="option"] {
  cursor: pointer;
  margin: 0;
  display: block;
  padding: 4px 12px;
}

[role="listbox"].focus [role="option"][aria-selected="true"], [role="listbox"] [role="option"]:hover {
  /* background-color: rgb(128 128 128 / .5); */
  background-color: rgb(255 255 255);
}

#category-button {
  padding: 0px 10px;
}

table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding: 10px;      /* 余白指定 */
}

