<!Doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>p5.js practice</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.11.2/p5.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/eruda/1.4.3/eruda.min.js"></script>
</head>
<body>
<a href="/">Top Page</a>
{% block content %}{% endblock %}
</body>
</html>
